[core]
	packedGitLimit = 512m
	packedGitWindowSize = 512m
	editor = vim
	autocrlf = input
	filemode = false
	whitespace = fix
	excludesfile = ~/.gitignore_global
[pack]
	deltaCacheSize = 2047m
	packSizeLimit = 2047m
	windowMemory = 2047m

[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    co = checkout
    br = branch
    ci = commit
    st = status
    df = diff
    lgs = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'
	project-summary = !which onefetch && onefetch

[diff]
    tool = vimdiff
[merge]
    tool = vimdiff

[credential]
    helper = store

[color]
    ui = true
    branch = auto
    diff = auto
    status = auto
    grep = always

[push]
    default = simple
[pull]
    rebase = true
[commit]
    gpgSign = false
[http]
	sslVerify = false
	postBuffer = 157286400
[safe]
